@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header section */
header {
  background-color: rgba(255, 144, 14, 0.1);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.header-text {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}
h1 {
  font-size: 4em;
}
.btn {
  background-color: #ff900e;
  color: white;
  width: 180px;
  height: 64px;
  border-radius: 10px;
  margin-top: 30px;
}
.banner-img {
  width: 100%;
  margin-bottom: 30px;
}
.menu {
  display: flex;
}
ul li a {
  text-decoration: none;
  padding-left: 20px;
}
ul li {
  list-style: none;
}
/* quick list secton---------------------------------------     */
.quick-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1200px;
  margin: 0 auto;
  gap: 30px;
  margin-top: 50px;
}
.quick-list-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.quick-list-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  font-size: 45px;
}
.span {
  color: #ff900e;
}
/* features section --------------------------------------- */
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 10px;
  gap: 50px;
}
.features-text,
h1 {
  margin-bottom: 30px;
}
.features-text-div {
  margin: 30px 0;
  background-color: rgba(0, 0, 0, 0.06);
}
/* facts sections ---------------------------------------- */
.facts {
  display: block;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 10px;
}
.number {
  display: flex;
  justify-content: space-between;
}
.number-box {
  border: 1px solid orange;
  margin: 20px;
  text-align: center;
}
.facts-text {
  margin-bottom: 50px;
}
.facts-head {
  margin: 10px 0;
}

/* responsive -------////////////////////////////////////////*/
/* header section ----------------------------------------- */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2em;
  }
  .nav {
    display: block;
    text-align: center;
    padding: 15px 0;
  }
  .menu {
    justify-content: space-around;
  }
  .btn {
    width: 120px;
    height: 40px;
    border-radius: 8px;
  }
  .header-text {
    margin: 0 0;
  }
  /* quick list secton---------------------------------------     */
  .quick-list {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    margin-top: 50px;
  }
  .quick-list-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    max-width: 100%;
  }
  h2 {
    font-size: 2em;
  }
  /* features section response ------------------------------ */
  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px;
  }
  .fetures-img {
    width: 100%;
  }
  /* facts section response ---------------------------- */
  .facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
  }
}
